.lineSummary-wrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.lineSummary-item{
    margin-bottom: 5px;
    border: none;
    background-color: #3f484f;
    color: ivory;
    padding: 5px;

}
.nightShift {
    position: relative;
}

.nightShift:after {
    content: ' \263E';
    position: absolute;
    top: 15px;
    right: 5px;
}
