*{
    font-size: 14px;
}

h4, h5, h6 {
    margin: 10px 0 !important;
    font-size: 1.2rem;
    color: #3f484f !important;
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.8rem;
}

h4{
    font-size: 1.6rem;
}